/Makefile
/Makefile.in
/configure
/src/.deps
/src/Makefile
/src/Makefile.in
/src/*.o
/src/*.a
/examples/.deps
/examples/Makefile
/examples/Makefile.in
/examples/*.o
/autom4te.cache/
/config.log
/config.status
/aclocal.m4
/compile
/examples/dcshof_xmpl1
/examples/dcshashset_xmpl1_demo
/examples/dcshashset_xmpl2_uniq
/depcomp
/install-sh
/missing